/* PAGINA INDEX */

body {background-color: #a87f19;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 100 100'%3E%3Cg stroke='%238b4513' stroke-width='14.1' stroke-opacity='0.61'%3E%3Crect fill='%23610101' x='-60' y='-60' width='109' height='240'/%3E%3C/g%3E%3C/svg%3E");    
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin: 50px;
}

.iconcontato {
    display: flex;
    justify-content: center;
    margin-left: 5px;
}

.alinharTxtE {
    text-align: left;
}

.alinharTxtC {
    text-align: center;
}

.alinharTxtD {
    text-align: right;
}

/* fornatação de menu no cabeçalho*/

.ui {
    display: inline;
    list-style: none;
    text-align: center;
}

/* fornatação de imagens no rodapé */

.imgsocial {
    width: 25px;
    padding: 5;
    margin-left: 15px;
}

.aBord {
    border-radius: 10%
}

/* PAGINA DE CONTATO */